#renewLink {
	
}
.renewal_notice {
	padding: 15px 15px;
	border: 2px solid #e0dddd;
	border-radius:5px;
	margin-bottom:10px;
	color: #999;
	font-size:16px;
}
.renewal_notice p {
	margin-bottom:0
}
edd_sl_cancel_renewal {
	width:100%;	
}

.edd-submit.button, .edd-submit.button.gray, .edd-submit.button:visited {
    background: #f0f0f0 none repeat scroll 0 0;
    border-color: #ccc;
    color: #333;
}
a.edd-submit {
    display: block !important;
    padding: 20px 0 !important;
    width: 100% !important;
	text-decoration:none;
	text-align:center;
}
a.edd-submit.blue {
    background: #428bca none repeat scroll 0 0 !important;
    border-color: #357ebd !important;
    color: #fff !important;
	text-decoration:none;
	text-align:center;
}
.license-key-container-wrap {
	display:none;
}
.license-input {
	width:100%;
	margin-bottom:7px;
}

.plus {
	display:inline-block;
	text-decoration:none;
	margin-left:5px;
	cursor:pointer;
}
.plus i {
	color:#555555;
	font-size:25px;
}
.domains {
	display:none;
}
.my_account_orders {
	font-size:18px !important;
}
.field-hidden {
	display:none;	
}